<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>


    RewriteEngine On



    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]


    # Freezer
    RewriteCond %{HTTP_COOKIE} !pressEditing [NC]
    RewriteCond %{REQUEST_METHOD} GET
    RewriteCond %{DOCUMENT_ROOT}/.press-cache/$0\.cache\.html -f
    RewriteRule ^.+$ .press-cache/$0.cache.html [L]

    # Freezer homepage
    RewriteCond %{HTTP_COOKIE} !pressEditing [NC]
    RewriteCond %{REQUEST_METHOD} GET
    RewriteCond %{DOCUMENT_ROOT}/.press-cache/_root\.cache\.html -f
    RewriteRule ^$ .press-cache/_root.cache.html [L]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle / with front controller
    RewriteRule ^$ index.php [L]


</IfModule>

