@font-face {
	font-family: 'Architects Daughter';
	font-style: normal;
	font-weight: 400;
	src: local('Architects Daughter'), local('ArchitectsDaughter'), url(http://fonts.gstatic.com/s/architectsdaughter/v6/RXTgOOQ9AAtaVOHxx0IUBOkI_DLF4EgbZt3mhU8gQFo.woff) format('woff');
}
#home-banner {
	background: #5fc1e8;
	background: RoyalBlue;
	background: #aaa;
}
#navbar-wrapper {
}
#navbar-wrapper.affix {
	top:0;
	width:100%;
	position:fixed;
	z-index: 1000;
}
#navbar-wrapper.affix + .container {
	padding-top:156px;
}
#home-banner {
	position:relative;
	height:300px;
}
#home-banner a {
	font-family: 'Architects Daughter';
	font-size:40px;
	color:white;
	position:absolute;
	margin:0;
}
#home-banner a:hover {
	text-decoration: none;
}
#home-banner a:hover span {
	position:relative;
	top:-2px;
	text-shadow: 0px 1px 1px #414141;
}
#tag-test { left:2px;	top:2px; }
#tag-other { left:15px;	top:30px; }
.content {
	padding:0 20px;
}
@media (min-width:768px){
	.content {
		padding:0 50px;
	}
	.content p {
		text-align:justify;
	}
}
p.published-date {
	text-align:right;
	font-style:italic;
}
.content img.img-responsive {
	box-shadow: 6px 6px 10px 0px #888888;
	margin:2em auto;
}
/* disable bootstrap pre tags */
pre {
	padding: 0px;
	border: none;
	font-size: 14px;
	background:white;
	line-height: 1.42857143;
	border-radius: 0px;
}
